.table {
	height: 100%;
	width: 30%;
	float: left;

	position: relative;
	display: block;
}

.table-list {
    height: 100%;
	overflow: scroll;
	overflow-x: hidden;
}

.add-margin-bottom {
	margin-bottom: 7px;
}
